<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">
                <h2 class="page-top-section"><%= title %></h2>
                <form class="contact-form">
                    <input type="text" id="apellido" name="apellido" placeholder="Ingresa tus apellidos">
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tus nombres">
                    <input type="date" id="fecha_nac" name="fecha_nac" >
                    <input type="text" id="edad" name="edad" placeholder="TU EDAD" readonly>
                    <button class="site-btn">Guardar<img src="img/icons/double-arrow.png" alt="#"/></button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact page end-->
